.starting-page {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  @media (max-width: 768px) {
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

.bg-starting-page {
    /*border-start-start-radius: 100px;*/
    /*border-end-start-radius: 100px;*/
    --mask:
            radial-gradient(13.42rem at 18rem 50%,#000 99%,#0000 101%) 0 calc(50% - 12rem)/100% 24rem,
            radial-gradient(13.42rem at -12rem 50%,#0000 99%,#000 101%) 6rem 50%/100% 24rem repeat-y;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    @media (max-width: 768px) {
      display: none;
    }
}

.transition-transform {
    transition: transform 0.3s ease-in-out;
}

.bg-overlay {
    position: relative;
    display: inline-block;
}

.bg-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 139, 139, 0.5); /* Cyan dengan opacity */
    z-index: 1; /* Di atas gambar */
}
